div(class="card mb-4 shadow-sm")
	div(class="card-header")
		h2(class="h6 mb-0") Network Summary
	div(class="card-body")
		div(class="row")
			div(class=networkSummaryColumnClass)
				div(class="float-left", style="height: 40px; width: 40px;")
					span
						i(class="fas fa-tachometer-alt fa-2x mr-2 icon-yellow", style="margin-top: 6px;")
				- var hashrateData = utils.formatLargeNumber(miningInfo.networkhashps, 3);

				span(class="font-weight-bold") Hashrate

				p(class="lead")
					span #{hashrateData[0]}
					span(title=(hashrateData[1].name + "-hash / x10^" + hashrateData[1].exponent), data-toggle="tooltip") #{hashrateData[1].abbreviation}H/s

			if (txStats)
				div(class=networkSummaryColumnClass)
					div(class="float-left", style="height: 40px; width: 40px;")
						span
							i(class="fas fa-sign-out-alt fa-2x mr-2 icon-yellow", style="margin-top: 6px; margin-left: 3px;")

					span(class="font-weight-bold") Total Transactions

					if (txStats.totalTxCount)
						p(class="lead") #{txStats.totalTxCount.toLocaleString()}

			div(class=networkSummaryColumnClass)
				div(class="float-left", style="height: 40px; width: 40px;")
					span
						i(class="fas fa-unlock-alt fa-2x mr-2 icon-yellow", style="margin-top: 6px; margin-left: 3px;")

				span(class="font-weight-bold") Unconfirmed Transactions

				p(class="lead") #{mempoolInfo.size.toLocaleString()} tx
					- var mempoolBytesData = utils.formatLargeNumber(mempoolInfo.usage, 2);
					small(class="text-muted font-weight-light") (#{mempoolBytesData[0]} #{mempoolBytesData[1].abbreviation}B)

			div(class=networkSummaryColumnClass)
				div(class="float-left", style="height: 40px; width: 40px;")
					span
						i(class="fas fa-bolt fa-2x mr-2 icon-yellow", style="margin-top: 6px; margin-left: 6px;")

				- var chainworkData = utils.formatLargeNumber(parseInt("0x" + getblockchaininfo.chainwork), 2);
				span(class="font-weight-bold") Chainwork

				p(class="lead")
					span(class="mr-2")
						span #{chainworkData[0]}
						span  x 10
						sup #{chainworkData[1].exponent}
						span  hashes

					i(class="fas fa-info-circle fa-xs", data-toggle="tooltip", title=getblockchaininfo.chainwork.replace(/^0+/, ''))

			div(class=networkSummaryColumnClass)
				div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
					span
						i(class="fas fa-dumbbell fa-2x mr-2 icon-yellow", style="margin-top: 6px;")

				- var difficultyData = utils.formatLargeNumber(getblockchaininfo.difficulty, 3);

				span(class="font-weight-bold") Difficulty

				p(class="lead")
					span(class="mr-2")
						span #{difficultyData[0]}
						span  x 10
						sup #{difficultyData[1].exponent}

					i(class="fas fa-info-circle fa-xs monospace", data-toggle="tooltip", title=parseFloat(getblockchaininfo.difficulty).toLocaleString())

			if (getblockchaininfo.size_on_disk)
				div(class=networkSummaryColumnClass)
					div(class="float-left", style="height: 40px; width: 40px;")
						span
							i(class="fas fa-database fa-2x mr-2 icon-yellow", style="margin-top: 6px; margin-left: 3px;")
					span(class="font-weight-bold") Blockchain Size

					- var sizeData = utils.formatLargeNumber(getblockchaininfo.size_on_disk, 2);
					p(class="lead") #{sizeData[0]} #{sizeData[1].abbreviation}B

			if (global.exchangeRates)
				div(class=networkSummaryColumnClass)
					div(class="float-left", style="height: 40px; width: 40px; font-size: 12px;")
						span
							i(class="fas fa-money-bill-wave-alt fa-2x mr-2 icon-yellow", style="margin-top: 7px;")

					span(class="font-weight-bold") Exchange Rate
						span(data-toggle="tooltip", title=("Exchange-rate data from: " + coinConfig.exchangeRateData.jsonUrl))
							i(class="fas fa-info-circle")

					if (global.exchangeRates)
						p(class="lead") #{utils.formatExchangedCurrency(1.0, "usd")}
					else
						p(class="lead") -
